<%= form_for @initial, url: initial_path do |f| %>
  <%= render 'shared/error_messages', object: @initial %>

  <div class="form-group">
    <%= f.label :title, "#{Initial.human_attribute_name('title')} (必須: 255文字まで)" %><br>
    <%= f.text_field :title, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :description, Initial.human_attribute_name('description') %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :zoom, "#{Initial.human_attribute_name('zoom')} (必須: 0〜21)" %><br>
    <%= f.number_field :zoom, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lat, "#{Initial.human_attribute_name('lat')} (必須: -90〜90)" %><br>
    <%= f.text_field :lat, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lng, "#{Initial.human_attribute_name('lng')} (必須: -180〜180)" %><br>
    <%= f.text_field :lng, class: 'form-control' %>
  </div>
  <%= f.submit "更新", class: 'btn btn-primary btn-lg btn-block' %>
<% end %>
