<% provide :title, "アプリの設定" %>
<h1><%= yield(:title) %></h1>
<div>
  <table class="table table-bordered">
    <tr>
      <th><%= t(Initial.human_attribute_name('title')) %><br>(255文字まで)</th>
      <td><%= @initial.title %></td>
    </tr>
    <tr>
      <th><%= t(Initial.human_attribute_name('description')) %></th>
      <td><%= simple_format @initial.description %></td>
    </tr>
    <tr>
      <th><%= t(Initial.human_attribute_name('zoom')) %><br>(0〜21)</th>
      <td><%= @initial.zoom %></td>
    </tr>
    <tr>
      <th><%= t(Initial.human_attribute_name('lat')) %><br>(-90〜90)</th>
      <td><%= @initial.lat %></td>
    </tr>
    <tr>
      <th><%= t(Initial.human_attribute_name('lng')) %><br>(-180〜180)</th>
      <td><%= @initial.lng %></td>
    </tr>
  </table>
</div>

<% if !edit_mode? %>
<p>アプリの設定を変更するには、「編集モード」に切り替えます。</p>
<p><%= link_to "編集モードへ切り替え", sessions_path, method: :post, class: 'btn btn-default btn-lg' %></p>
<% end %>

<% if edit_mode? %>
<br>
<%= link_to '設定の変更', edit_initial_path, class: 'btn btn-primary btn-lg' %>
<%= link_to "設定の初期化", initial_path, { method: :delete, data: { confirm: '本当に初期化しますか' }, class: 'btn btn-default btn-lg' } %>
<% end %>
