<% provide :title, "新しいカテゴリーの作成" %>

<%= form_for(@category) do |f| %>
  <fieldset data-role="controlgroup">
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="fieldcontain">
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "作成" %>
  </div>
  </fieldset>
<% end %>

<p><%= link_to_btn 'カテゴリーの一覧へ戻る', categories_path %></p>
