<% provide :title, "場所の編集" %>
<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, "説明" %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <%= f.fields_for :image do |imgf| %>
    <% if !imgf.object.new_record? && imgf.object.errors.empty? && @place.image.data != nil %>
      <div class="form-group">
        現在の画像<br>
        <%= place_image_tag @place, style: "max-width: 320px; width: 100%; vertical-align: top;" %>
      </div>
      <div class="form-group">
        <%= imgf.check_box :_destroy %>
        <%= imgf.label :_destroy, "現在の画像を削除する" %>
        <%= imgf.hidden_field :id %>
      </div>
    <% end %>
  <div class="form-group">
    <%= imgf.label :uploaded_image, "別な画像に入れ替える" %>
    <%= imgf.file_field :uploaded_image %>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :lat, "緯度" %><br>
    <%= f.text_field :lat, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lng, "経度" %><br>
    <%= f.text_field :lng, class: 'form-control' %>
  </div>
  <%= f.submit "更新", class: 'btn btn-primary btn-lg' %>
<% end %>
<br>
<%= link_to "削除", @place, { method: :delete, data: { confirm: '本当に削除しますか' }, class: 'btn btn-default btn-lg', role: 'button' } %>
