<% provide :title, "新しい場所の登録" %>

<%= form_for(@place) do |f| %>
  <fieldset data-role="controlgroup">
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="fieldcontain">
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>
  </div>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lng %>
  <div data-role="fieldcontain">
    <%= f.label :description, "説明" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit "登録", data: { theme: 'b' } %>
  </div>
  </fieldset>
<% end %>

<%= link_to_btn 'マップへ', map_path %>
