<!-- Static navbar -->
<nav class="navbar navbar-inverse navbar-default navbar-static-top" id="header">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Open Campus', root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'ホーム', root_path %></li>
        <li><%= link_to 'マップ', map_path %></li>
        <li><%= link_to '場所一覧', places_path %></li>
        <li><%= link_to 'アプリについて', about_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if edit_mode? %>
          <li><%= link_to "閲覧モードへ切り替え", signout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "編集モードへ切り替え", sessions_path, method: :post %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

