<!DOCTYPE html>
<html lang="ja">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div data-role="page">
  <div data-role="header">
    <h1><%= full_title(yield(:title)) %></h1>
  </div>
  <div role="main" class="ui-content">
<%= yield %>
  </div>
  <div data-role="footer">
    <h4>青森大学ソフトウェア情報学部</h4>
  </div>
</div>
</body>
</html>
